.text {
  font-size: 120%;
}

.space {
  visibility: hidden;
}

.logo {
  font-size: 150%;
  line-height: 1;
  font-weight: 700;
}

.box {
  background: rgba(255,255,255,0.9);
  padding-top: 15px;
  padding-bottom: 2%;
  padding-left: 10%;
  border-radius: 30px;
}