:root {
  --white: #edf2f4;
  --black: #2b2d42;
  --grey: #8d99ae;
  --main: #EA5455;
  --off: #d90429;
}

body {
  user-select: none;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
}

h1 {
  color: rgb(45, 50, 50);
}

h2 {
  color: rgb(45, 50, 50);
}

ul {
  padding: 0;
  list-style: none;
}

.text {
  font-size: 120%;
  color: #4b5564;
  text-decoration: none;
}

.space {
  visibility: hidden;
}

.logo {
  font-size: 150%;
  line-height: 1;
  font-weight: 700;
}

.box {
  background: rgba(255,255,255,0.9);
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 30px;
}

.checkbox {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #EA2525;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #dcdcdc;
}

.nav {
  position: fixed;
  top: 0;
    left: 0;
    width: 100%;
  z-index: 100;
  transition: all ease-in-out 0.2s;
}

.nav__inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background: var(--white);
  background-color: var(--white);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0;
}

.nav__logo {
  overflow: hidden;
  text-align: left;
  margin-right: auto;
  color: var(--black);
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}

.nav__logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 3rem;
  width: auto;
}

.nav__hmb {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  min-width: 1.25rem;
  text-align: left;
}

.nav__hmb.active {
  transition: all ease-out 0.25s;
}

.nav__hmb.active .nav__hmb__line:nth-child(1) {
  transform: translateY(calc(0.25rem + 2px)) rotate(45deg);
}

.nav__hmb.active .nav__hmb__line:nth-child(2) {
  transform: scale(0);
}

.nav__hmb.active .nav__hmb__line:nth-child(3) {
  transform: translateY(calc(-0.25rem - 2px)) rotate(-45deg);
}

.nav__hmb__outer {
  display: none;
  align-items: center;
  justify-content: flex-start;
}

.nav__hmb__label {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 0.75rem;
  position: relative;
  display: block;
  flex: 1;
  width: 100%;
  height: 1.5rem;
}

.nav__hmb__label__on {
  position: absolute;
  opacity: 1;
  transition: all ease-in-out 0.25s;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

.nav__hmb__label__off {
  position: absolute;
  opacity: 0;
  transition: all ease-in-out 0.25s;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%) translateX(0.5rem);
}

.nav__hmb__label.active .nav__hmb__label__on {
  opacity: 0;
  transform: translateY(-50%) translateX(0.5rem);
}

.nav__hmb__label.active .nav__hmb__label__off {
  opacity: 1;
  transform: translateY(-50%);
}

.nav__hmb__line {
  width: 1.25rem;
  height: 2px;
  background-color: var(--black);
  margin-bottom: 0.25rem;
  transition: all ease-in 0.25s;
  border-radius: 0.5rem;
}

.nav__hmb__line:last-of-type {
  margin-bottom: 0;
}

.nav__core {
  top: 100%;
  left: 0%;
  height: auto;
  display: flex;
  align-items: center;
  transition: all ease-in 0.25s;
  pointer-events: initial;
  opacity: 1;
  position: static;
  width: auto;
  flex-direction: row;
  border: 0;
  justify-content: flex-end;
}

.nav__core.active {
  pointer-events: initial;
  opacity: 1;
  z-index: 10;
}

.nav__core.active .nav__core__link {
  opacity: 1;
  transition: all ease-in 0.25s;
}

.nav__core__link {
  opacity: 1;
  transition: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  opacity: 1;
  margin: 0 2rem 0 0;
}

.nav__core__link:before {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  height: 2px;
  transition: all ease-in-out 0.2s;
  background-color: var(--black);
  transform: scaleX(0);
  transform-origin: left;
}

.nav__core__link:hover {
  transition: all ease-in-out 0.25s;
}

.nav__core__link:hover:before {
  transform: scaleX(1);
  transition: all ease-in-out 0.25s;
}

.nav__core__link:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.nav__core__link--dropdown {
  position: relative;
  display: block;
  margin-right: 2rem;
}

.nav__core__link--dropdown:after {
  content: "";
  position: absolute;
  border-top: 0.25rem solid var(--black);
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  top: 50%;
  right: -0.75rem;
  transform: translateY(-50%);
}

.nav__core__link--dropdown:hover .nav__core__dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: initial;
}

.nav__core__link--sub {
  cursor: pointer;
  position: relative;
  opacity: 1;
  margin-right: 2rem;
}

.nav__core__link--sub:after {
  content: "";
  position: absolute;
  border-top: 0.25rem solid var(--black);
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  top: 50%;
  right: -0.75rem;
  transform: translateY(-50%);
  transition: all ease-in 0.25s;
}

.nav__core__link--sub.active:after {
  transform: translateY(-50%) rotate(-180deg);
}

.nav__core__dropdown {
  background-color: var(--white);
  padding: 1rem;
  min-width: 100px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0%;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all ease-in 0.25s;
}

.nav__core__dropdown:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: initial;
}

.nav__core__dropdown__link {
  margin-bottom: 0.5rem;
}

.nav__core__dropdown__link:last-child {
  margin-bottom: 0;
}

.nav__sub {
  display: none;
  text-align: left;
  background-color: var(--white);
  z-index: 100;
  top: 100%;
  left: 0%;
  pointer-events: none;
  flex-direction: column;
  position: absolute;
  width: auto;
  max-width: 400px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.nav__sub.active {
  display: flex;
  pointer-events: initial;
}

.nav__sub__item {
  display: none;
  margin-top: 1rem;
}

.nav__sub__item.active {
  display: block;
  overflow: hidden;
}

.nav__sub__box {
  padding: 1rem;
}

.nav__sub__exit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--main);
  display: none;
  align-items: center;
  justify-content: center;
}

.nav__sub__mobile {
  display: none;
  width: 100%;
  background-color: var(--grey);
  flex-direction: column;
}

.nav__sub__mobile__socials__aria {
  text-indent: -9999px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nav__pre {
  display: block;
}

.nav__pre__inner {
  background-color: var(--black);
  color: var(--white);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 0;
}

.nav__pre__left {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0.25rem 0;
  line-height: 1;
}

.nav__pre__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
  padding: 0.25rem 0;
  line-height: 1;
}

.nav__pre__link {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  padding: 0.5rem 0;
  margin: 0 0.5rem 0 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--white);
}

.nav__pre__link--alt {
  color: var(--main);
}

.nav__pre__link:hover {
  text-decoration: underline;
}

.nav__pre__link:last-child {
  margin-right: 0;
}

.nav__cta {
  margin-left: 1rem;
}

.nav__cta__btn {
  padding: 0.5rem 1rem;
  background-color: var(--main);
  color: var(--white);
  border-radius: 0.25rem;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: 1px solid var(--main);
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-in-out 0.25s;
}

.nav__cta__btn:has(:checked) {
  background: var(--white);
  color: var(--main);
  border-color: var(--main);
}

.link {
  color: #4b5564;
  text-decoration: none;
}

.link:hover {
  color: #000;
}

.footer__hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e7eb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #4b5564;
  background: var(--white);
}

.footer__navi-heading {
  font-weight: 600;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 2rem;
}

.footer__navi li {
  margin-bottom: 0.75rem;
}

.footer__social a {
  display: inline-block;
  width: 24px;
  opacity: 0.7;
}

.footer__social a:not(:last-child) {
  margin-right: 16px;
}

@media (max-width: 992px) {
  .nav__core__link--dropdown {
    border-bottom: 1px solid;
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .nav__inner {
    background-color: var(--white);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
  }

  .nav__logo {
    flex: 1;
    text-align: center;
    border: 0;
  }

  .nav__hmb {
    display: flex;
  }

  .nav__hmb__outer {
    flex: 1;
    display: flex;
  }
  
  .nav__core {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    flex-direction: column;
    background-color: var(--white);
  }

  .nav__core.active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  }

  .nav__core__link:before {
    display: none;
  }

  .nav__core__link {
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid var(--grey);
    width: 100%;
    text-align: center;
    opacity: 0;
    margin: 0 0;
  }

  .nav__core__link:first-child {
    margin-top: 1rem;
  }

  .nav__core__link:last-child {
    border-bottom: 0;
  }

  .nav__core__link--sub.active:after {
    transform: translateY(-50%);
  }

  .nav__core__link--sub {
    margin-right: 0;
  }

  .nav__core__link--sub:after {
    right: 2rem;
    border: 0;
    border-left: 0.5rem solid var(--black);
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
  }

  .nav__core__dropdown {
    transform: translateY(0);
    position: static;
    opacity: 1;
  }

  .nav__sub {
    width: 100%;
    max-width: 100%;
  }

  .nav__sub__exit {
    display: flex;
  }

  .nav__sub__mobile {
    display: flex;
  }

  .nav__sub__mobile__socials {
    order: 1;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: var(--main);
    text-align: center;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__sub__mobile__left {
    order: 2;
    background-color: var(--main);
    padding: 1rem;
    text-align: center;
  }

  .nav__sub__mobile__left .text {
    color: var(--white);
  }

  .nav__sub__mobile__left svg {
    display: none;
  }

  .nav__sub__mobile__link {
    order: 0;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: var(--main);
    text-align: center;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid var(--grey);
  }

  .nav__sub__mobile__link:after {
    content: "";
    background-color: red;
    position: absolute;
    width: 1rem;
    height: 1rem;
    z-index: 1;
    pointer-events: none;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    transition: all ease-in-out 0.25s;
  }

  .nav__pre__left {
    padding: 0.1rem 0;
  }

  .nav__pre__right {
    padding: 0.1rem 0;
  }

  .nav__cta {
    flex: 1;
    text-align: right;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}